html {
  box-sizing: border-box;
}
*, *:before, *after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 3.5;
    background: ;


}
 h1 {

}
h2{ color:;
  
}

ul {
  list-style-type: none;
}

a {
    color:;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: black ;
}
.navbar-toggler {
    background-color: gold;
}

.nav-link {
color: gold !important;
}
.card {
  box-sizing: border-box;
}
.card-footer {
  border:none;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* Testimonial */
.testimonial {
    background-color: black;
}




/*.wrapper {
  display: ;
  justify-content: ;
  align-items: ;
  height: ;*/


.wrapper i {
    padding: 15px;
    padding-bottom: ;
    margin: 15px;
    object-position:center;
    float: fixed;
    color:;
}

table {
  width: 100%;

}
table, td {
  border: 1px  black;
  padding: 10px;
}


/* Contact Info
----------------------------*/
footer {
    background-color: black;
    text-align: center;
    color: gold
} 



.site-footer .footer-top {

    background-color: black;
}
.contact-list{
  list-style-type: none;
  padding: 0;
    display: inline-block;
    display: block;

}
.contact-list a {
  padding: 0;
  display: inline-block;
  display: block;

}

/* Responsive
----------------------------*/
@media screen and (min-width: 750px) {
  header, footer {
    text-align: center;
  }
.contact-list {
      display:flex;
      justify-content: center;
    }
    
@media screen and (max-width: 749px) {
    h1 {
      font-size: ;
      line-height: ;
      margin-bottom: :
    }
    h2 {
      line-height: ;
    }
    .contact-list a{
      padding: px;
    }
  }
  /*@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
